<!DOCTYPE html>
<!-- tim the co id la about trong trang nay -->
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="/layout/layout.html :: dynamic(~{::#homeview})">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>
<body>
	<main id="homeview">
		<div
			class="mt-24 bg-gray-100 h-screen py-8 flex flex-col md:flex-row gap-4">
			<div class="md:w-3/4">
				<div class="bg-white rounded-lg shadow-md p-6 mb-4">
					<table class="w-full">
						<thead>
							<tr>
								<th class="text-left font-semibold">ID</th>
								<th class="text-left font-semibold">sản phẩm</th>
								<th class="text-left font-semibold">Đơn giá</th>
								<th class="text-left font-semibold">Số lượng</th>
								<th class="text-left font-semibold">Thành tiền</th>
								<th class="text-left font-semibold"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in cart.items">
								<td class="py-4">
									<div class="flex items-center">
										<span class="font-semibold">{{item.id}}</span>
									</div>
								</td>
								<td class="py-4">
									<div class="flex items-center">
										<span class="font-semibold">{{item.name}}</span>
									</div>
								</td>
								<td class="py-4">{{item.price | number:2}} $</td>
								<td class="py-4">
									<div class="flex items-center text-center">
										<input ng-change="cart.saveToLocalStorage()"
											ng-model="item.qty" type="number" min=1 class="ml-4 w-10" />
									</div>
								</td>
								<td>{{item.qty * item.price | number:2}} $</td>
								<td><a ng-click="cart.remove(item.id)" href="#"
									class="text-red-500"> <i class="fa-solid fa-trash"></i></a></td>
							</tr>
							<!-- More product rows -->
						</tbody>
					</table>
					<button type="button" ng-click="cart.clear()" ng-show="cart.items.length > 0"
						class="focus:outline-black text-white text-sm py-2.5 px-4 border-b-4 border-red-600 bg-red-500 hover:bg-red-400">Clear</button>
				</div>
			</div>
			<div class="md:w-1/4">
				<div
					class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md border dark:border-gray-700">
					<h1 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">Đặt
						hàng</h1>

					<!-- Shipping Address -->
					<form method="post">
						<div class="mb-6">
							<div class="mt-4">
								<label for="address"
									class="block text-gray-700 dark:text-white mb-1">Tên tài khoản</label>
								<div id="username" th:text="${user.username}"
									class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
								</div>
							</div>

							<div class="mt-4">
								<label for="city"
									class="block text-gray-700 dark:text-white mb-1">Email</label>
								<input type="email" th:value="${user.email}" readonly="readonly"
									class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
							</div>

							<div class="mt-4">
								<label for="address"
									class="block text-gray-700 dark:text-white mb-1">Địa
									chỉ giao hàng</label> <input type="text" ng-model="order.address"
									class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none"
									required="required" minlength="5">
							</div>

							<div class="mt-4">
								<label for="city"
									class="block text-gray-700 dark:text-white mb-1">Ngày
									tạo đơn</label> <input type="text"
									ng-model="order.createDate | date : 'dd-MM-yyyy'"
									readonly="readonly"
									class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
							</div>
						</div>

						<div class="mt-8 flex justify-end">
							<button ng-click="order.purchase()"
								class="bg-teal-500 text-white px-4 py-2 rounded-lg hover:bg-teal-700 dark:bg-teal-600 dark:text-white dark:hover:bg-teal-900">Xác
								nhận</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- product slider end -->
		<div class="containar mx-auto px-6">
			<hr />
		</div>
		<!-- hiw step start  -->
		<div class="container mx-auto px-8 py-8 my-6">
			<div class="lg:flex sm:grid grid-cols-2 grid-row-2">
				<div class="card p-3 col-span-1">
					<div class="images px-1 mx-auto">
						<img th:src="@{/assets/images/hiw/HIW1img.png}" alt="" />
					</div>
					<div class="text-center">
						<a href="#" class="py-1 px-2 rounded-3xl bg-amber-100">Bước 1</a>
						<h2 class="py-6 font-black text-md">Lọc và tìm kiếm</h2>
						<p class="text-slate-400 text-sm">
							Lọc và tìm kiểm thông minh <br /> giúp bạn dễ dàng tìm thấy
						</p>
					</div>
				</div>
				<div class="card p-3">
					<div class="images px-1 mx-auto">
						<img th:src="@{/assets/images/hiw/HIW2img.png}" alt="" />
					</div>
					<div class="text-center">
						<a href="#" class="py-1 px-2 rounded-3xl bg-amber-100">Bước 2</a>
						<h2 class="py-6 font-black text-md">Thêm giỏ hàng</h2>
						<p class="text-slate-400 text-sm">
							Dễ dàng chọn đúng mặt hàng và <br /> thêm vào giỏ hàng
						</p>
					</div>
				</div>
				<div class="card p-3">
					<div class="images px-1 mx-auto">
						<img th:src="@{/assets/images/hiw/HIW3img.png}" alt="" />
					</div>
					<div class="text-center">
						<a href="#" class="py-1 px-2 rounded-3xl bg-amber-100">Bước 3</a>
						<h2 class="py-6 font-black text-md">Chuyển phát nhanh</h2>
						<p class="text-slate-400 text-sm">
							Đơn vị vẫn chuyển sẽ xác nhận và<br /> gửi hàng nhanh chóng tới
							bạn
						</p>
					</div>
				</div>
				<div class="card p-3">
					<div class="images px-1 mx-auto">
						<img th:src="@{/assets/images/hiw/HIW4img.png}" alt="" />
					</div>
					<div class="text-center">
						<a href="#" class="py-1 px-2 rounded-3xl bg-amber-100">Bước 4</a>
						<h2 class="py-6 font-black text-md">Cảm nhận sản phẩm</h2>
						<p class="text-slate-400 text-sm">
							Dùng sản phẩm, tận hưởng nó và <br /> đánh giá 5 sao nếu bạn
							thích
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>