<div xmlns="http://www.thymeleaf.org" th:fragment="footer">
	<div class="containar mx-auto px-6">
		<hr />
	</div>

	<!-- hiw step end  -->
	<!-- Earn free money   with Ciseco start-->
	<div class="container p-8 my-6 mx-auto">
		<div class="lg:grid grid-cols-2 flex flex-col-reverse">
			<div class="col-span-1">
				<img class="lg:p-8" th:src="@{/assets/images/logo/logo.14d0e71d.svg}" alt="" />
				<h2
					class="lg:text-7xl sm:text-4xl text-3xl leading-tight font-black my-2">
					Mua sắm thả ga<br /> với Ciseco
				</h2>
				<p class="text-slate-400 text-xl py-8">Đến với chúng tôi bạn sẽ
					được giảm giá, miễn phí ship,...</p>
				<div class="lg:flex flex-col">
					<a
						class="my-4 mx-4 py-3 px-8 rounded-3xl bg-black hover:bg-slate-500 text-white font-black inline-block"
						href="#"> combo tiết kiệm</a> <a
						class="py-3 px-8 rounded-3xl bg-white hover:bg-slate-100 font-black border-2 border-slate-200 mx-4 inline-block"
						href="#">Khám phá nhiều hơn</a>
				</div>
			</div>
			<div class="col-span-1">
				<img th:src="@{/assets/images/covar-img/rightLargeImg.png}" alt="" />
			</div>
		</div>
	</div>
</div>